body {
    
    background-color: #2A363B;
}

#mainHeader { /* Untuk mainHeader */
    
    font-family: Raleway, monospace; /* Font dia */
    font-weight: 100;
    letter-spacing: 0.3em; /* Jarak antara satu huruf dengan huruf yg lain. */
    text-align: center; /* Position dia */
    color: white; /* */
    
}

.table thead {
    
    font-family: Raleway, monospace;
    font-weight: 200;
    color: white;
    text-align: center;
}

.table tbody {
    
    font-family: Raleway, monospace;
    font-weight: 200;
    color: white;
    text-align: center;
}

.table a:link { /* Link biasa. Link yang tak visit lg. */
    
    color: moccasin;
}

.table a:visited { /* Link yang dah visit. */
    
    color: moccasin;
}

.table a:hover { /* Masa cursor mouse kat atas content, utk kes ni, table punya link */
    
    color: #82f7ff
}

.table a:active { /* Yang ni MASA tekan. Literally masa tekan. Kalau dah tekan, yg tu visited. Kalau tak tekan, yg tu link. Jadi, yang ni MASA dia tekan. */
    
    color: cornflowerblue;
}
#faqHeader {
    
    font-family: Raleway, monospace;
    letter-spacing: 0.2em;
    color: white;
    text-align: center;
}
